In [2]:
server='postgres'
user='postgres'
password='BigData1'
database='discogs'
connection_string=f'postgresql://{user}:{password}@{server}:5432/{database}'

In [3]:
%reload_ext sql
%sql $connection_string

In [4]:
%%sql
SELECT version();

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[('PostgreSQL 14.5 (Debian 14.5-1.pgdg110+1) on x86_64-pc-linux-gnu, compiled by gcc (Debian 10.2.1-6) 10.2.1 20210110, 64-bit',)]

In [6]:
%%sql 
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

 * postgresql://postgres:***@postgres:5432/discogs
4 rows affected.

[('artists',), ('released_by',), ('releases',), ('tracks',)]

In [9]:
%%sql 
SELECT table_name, column_name, data_type, is_nullable, ordinal_position
FROM information_schema.columns
WHERE table_schema = 'public'
AND table_name NOT LIKE 'pg_%'
ORDER BY table_name, ordinal_position;

 * postgresql://postgres:***@postgres:5432/discogs
17 rows affected.

[('artists', 'artist_id', 'integer', 'NO', 1),
 ('artists', 'name', 'character varying', 'YES', 2),
 ('artists', 'realname', 'text', 'YES', 3),
 ('artists', 'profile', 'text', 'YES', 4),
 ('artists', 'url', 'text', 'YES', 5),
 ('released_by', 'release_id', 'integer', 'NO', 1),
 ('released_by', 'artist_id', 'integer', 'NO', 2),
 ('releases', 'release_id', 'integer', 'NO', 1),
 ('releases', 'released', 'date', 'NO', 2),
 ('releases', 'title', 'text', 'NO', 3),
 ('releases', 'country', 'character varying', 'YES', 4),
 ('releases', 'genre', 'character varying', 'NO', 5),
 ('tracks', 'release_id', 'integer', 'NO', 1),
 ('tracks', 'position', 'character varying', 'YES', 2),
 ('tracks', 'title', 'text', 'YES', 3),
 ('tracks', 'duration', 'integer', 'YES', 4),
 ('tracks', 'track_id', 'integer', 'NO', 5)]

# Question 1

In [10]:
%%sql
SELECT AVG(CAST(duration AS FLOAT)) FROM tracks;

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(324.59572773212363,)]

# Question 2

In [24]:
%%sql
WITH radiohead_release_duration as (
    SELECT release_id, releases.title, SUM(duration) as duration
    FROM releases JOIN released_by using(release_id)
    JOIN artists using (artist_id)
    JOIN tracks USING(release_id)
    WHERE artists.name = 'Radiohead'
    GROUP BY release_id, releases.title
)
SELECT *
FROM radiohead_release_duration
ORDER BY duration DESC, title ASC
LIMIT(1)

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(221698, 'Hail To The Thief', 7938)]

# Question 3

In [29]:
%%sql
SELECT DISTINCT(genre)
FROM releases

 * postgresql://postgres:***@postgres:5432/discogs
15 rows affected.

[('Folk, World, & Country',),
 ('Reggae',),
 ('Hip Hop',),
 ('Blues',),
 ('Stage & Screen',),
 ('Latin',),
 ('Non-Music',),
 ('Electronic',),
 ('Brass & Military',),
 ('Classical',),
 ('Pop',),
 ('Rock',),
 ('Funk / Soul',),
 ('Jazz',),
 ("Children's",)]

In [30]:
%%sql
WITH artist_many_releases AS (
    SELECT artist_id
    FROM artists JOIN released_by USING(artist_id)
    GROUP BY artist_id
    HAVING COUNT(*) > 200
),
artist_pop AS (
    SELECT artist_id
    FROM artists JOIN released_by USING(artist_id)
    JOIN releases USING(release_id)
    WHERE genre = 'Pop'
),
artist_pop_many_releases AS (
    SELECT * FROM artist_many_releases
    INTERSECT
    SELECT * FROM artist_pop
)
SELECT COUNT(*)
FROM artist_pop_many_releases

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(11,)]

# Question 4

In [41]:
%%sql
WITH artist_num_releases AS (
    SELECT COUNT(*) AS num_releases
    FROM artists JOIN released_by USING(artist_id)
    GROUP BY artist_id
),
artists_avg_releases AS (
    SELECT AVG(CAST(num_releases AS Float))
    FROM artist_num_releases
),
artist_many_electronic_releases AS (
    SELECT COUNT(*) AS num_electronic_releases
    FROM artists JOIN released_by USING(artist_id)
    JOIN releases USING(release_id)
    WHERE genre = 'Electronic'
    GROUP BY artist_id
    HAVING COUNT(*) > (SELECT * FROM artists_avg_releases)
)
SELECT COUNT(*)
FROM artist_many_electronic_releases

 * postgresql://postgres:***@postgres:5432/discogs
1 rows affected.

[(19656,)]